{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto text-center">
            <!-- Adjusted homepage to render the welcome text directly instead of pulling from WelcomeMessage model, as discussed with mentor -->
            <h2 class="logo-font text-black">Welcome to Tina Q Cards!</h2>
            <p class="mt-5">Please have a look through my selection of greeting cards. If you don't see quite what
                you're looking for, drop me a message via my Facebook page or the Contact Us section. All UK orders
                include free delivery. For orders from outside the UK, please contact me for a quote.</p>            
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-button btn btn-lg rounded-0 text-uppercase py-3">
                        Enter Shop
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}