html {
    height: 100%;
}

body {    
    font-family: 'Montserrat', sans-serif;
    height: calc(100vh - 164px);
}

.header-container {
    padding-top: 248px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */

.logo-font {
    text-transform: uppercase;
    font-family: 'Corben', cursive;
    color: #AB274F;
}

.main-logo-link {
    width: fit-content;
}

.bg-large-header {
    background: #CA9FB5;
}

.bg-nav {
    background: white;
}

.nav-item a {
    color: #A16484 !important;
}

.btn-red {
    background: #AB274F;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #CA9FB5;
}

.bg-darker {
    background: #54424B;
}

.nav-link img {
    height: 125px;
    width: 125px;
}

.font-large {
    font-size: 1.2rem;
}

/* Footer */

.footer-icon {
    font-size: 2.4rem;
}

.footer-link a {
    color: #AB274F !important;
    text-decoration: none;
}

.footer-link a:hover,
.footer-link a:active,
.footer-link a:focus {
    color: #CA9FB5 !important;
}

.dark-font {
    color: #54424B !important;
}

/* Mailchimp */

#mc_embed_signup {    
    padding: 0;
}

/* Homepage */

.shop-button {
    background: #AB274F;
    color: white;
    min-width: 260px;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background: #CA9FB5;
    color: white;    
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */    
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ab274f;
    border: 1px solid #ab274f;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #CA9FB5;
    border-color: #CA9FB5;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.allauth-form-inner-content h2 {
    font-size: 1.5rem;
}

/* Products page */

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
    }
}

@media (max-width: 992px) {
    .bg-nav {
        background: #CA9FB5;
    }

    .nav-item a {
    color: black !important;
    }

    .nav-link {
        padding: 5px 8px;
        font-size: 0.9rem;
    }

}
