html {
    height: 100%;
}

body {    
    background: url('/media/tqc-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: calc(100vh - 164px);
}

.bg-white {
    background-color: white;
}

.header-container {
    padding-top: 248px;
}

.btn-outline-black {
    background: white;
    color: #54424B !important;
    border: 1px solid #54424B;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #54424B;
    color: white !important;
}

.red-font {
    color: #AB274F !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */

.logo-font {
    text-transform: uppercase;
    font-family: 'Corben', cursive;
    color: #AB274F;
}

.main-logo-link {
    width: fit-content;
}

.bg-large-header {
    background: #CA9FB5;
}

.bg-nav {
    background: white;
}

.nav-item a {
    color: #A16484 !important;
}

.btn-red {
    background: #AB274F;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #CA9FB5;
}

.bg-darker {
    background: #54424B;
}

.nav-link img {
    height: 125px;
    width: 125px;
}

.font-large {
    font-size: 1.2rem;
}

/* Footer */

.footer-icon {
    font-size: 2.4rem;
}

.footer-link a {
    color: #AB274F !important;
    text-decoration: none;
}

.footer-link a:hover,
.footer-link a:active,
.footer-link a:focus {
    color: #CA9FB5 !important;
}

.dark-font {
    color: #54424B !important;
}

/* Mailchimp */

#mc_embed_signup {    
    padding: 0;
}

/* Homepage */

.shop-button {
    background: #AB274F;
    color: white;
    min-width: 260px;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus {
    background: #CA9FB5;
    color: white;    
}

.btn-black {
    background: #54424B;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

p.mt-5 {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */    
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ab274f;
    border: 1px solid #ab274f;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #CA9FB5;
    border-color: #CA9FB5;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.allauth-form-inner-content h2 {
    font-size: 1.5rem;
}

/* Products page */

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label {
    border-radius: 0;
    border-color: #dc3545;
    color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;    
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 105px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
    }
}

@media (max-width: 992px) {
    .bg-nav {
        background: #CA9FB5;
    }

    .message-container {    
        top: 200px;    
        }

    .nav-item a {
    color: black !important;
    }

    .nav-link {
        padding: 5px 8px;
        font-size: 0.9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    ul.mb-0 {
        padding-left: 0px;
    }

}
