html {
    height: 100%;
}

body {    
    font-family: 'Montserrat', sans-serif;
    height: calc(100vh - 164px);
}

/* Taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header */

.logo-font {
    text-transform: uppercase;
    font-family: 'Corben', cursive;
    color: #AB274F;
}

.main-logo-link {
    width: fit-content;
}

.bg-large-header {
    background: #CA9FB5;
}

.bg-nav {
    background: white;
}

.nav-item a {
    color: #A16484 !important;
}

.btn-red {
    background: #AB274F;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #CA9FB5;
}

.bg-darker {
    background: #54424B;
}

/* Homepage */

.shop-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
   
}

@media (max-width: 991px) {
    .bg-nav {
        background: #CA9FB5;
    }

    .nav-item a {
    color: black !important;
}

}